    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What I Do</h2>
                <p>I'm a beauty and spa therapist with over 6 years professional experience based in Sale, Manchester.</p>
                <p>I have formal training with several academies and brands including ESPA, Darphin, Dermalogica, Lashbase,
                  St. Tropez and Jessica Geleration.</p>
                <p>I have a nail bar and private treatment room and am able to provide a range of beauty treatments including
                  manicures, gel nails, lashes, spray tans, massage and facials. I'm based in Salon 193 which provides a full
                  range of hair treatments making this a great place to fulfill all your beauty needs.</p>
            </div>
        </div>
    </section>
