    <!-- FAQ Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>FAQ</h2>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: How long gels last');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                      How long do gel nails last?</a>
                    </h7>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                    Gels will last 2 to 4 weeks depending on how well you take care of your hands. I recommend applying
                    a hand cream or moisturiser at least twice daily and wearing protective gloves if cleaning, gardening and decorating.
                    After about 2 weeks you may notice the growth of your own nails.</div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Are gels bad');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                      Are gels bad for my nails?</a>
                    </h7>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      Gel nails are safe for natural nails. The damage I often see is from poor removal technique
                      I've seen some nasty burns to nail beds, thinning and disfiguremnt of nails caused by picking
                      or scratching the gel off and from excessive buffing.
                      <br />  <br />
                      Not only is nail damage painful, it needs time to heal before anything can be done to the damaged nail.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Gel removal');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                      How do you remove my gel nails?</a>
                    </h7>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      When done correctly, removing gel from your natural nail is perfectly safe and harm free.
                      During removal, the top coat will be gently buffed off, acetone will be applied to cotton
                      pads on the nail and sealed with foil for 10 to 15 minutes to soften the gel.
                      I then gently remove the gel from your nail, buff with a soft buffer and finish with a new
                      set of gels or apply a strengthener and oil to your own nail.
                      <br />  <br />
                      It's in my interest to help
                      keep your natural nails healthy as it makes working with them easier the next time you come
                      to get them done.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Polydip');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                      What is Polydip?</a>
                    </h7>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                      This is the latest trend in nails. The new technique involves brushing a gel base
                      on the natural nail and dipping it into a special powder. The benefits of the dip
                      powder technique is that there is no odour & no liquids. This means that the
                      application process is quicker and simpler than the other methods, and removal is also easier.
                      <br /><br />
                      Dip powder nails look natural and the powder actually provides more strength than gels.
                      Because nothing is glued to your natural nails, your nail bed remains healthy and undamaged.
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Lash types');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                      What are the differences with lashes like: "Russian Volume", "Hybrid" or "Classic"?</a>
                    </h7>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                      <dl>
                        <dt>Russian Volume</dt>
                        <dd>
                          Russian Volume lashes are made up of fans of 2 to 6 (2D to 6D)
                          lightweight cosmetic lashes applied to individual natural lashes.
                          The false lashes are thinner and lighter (often referred to as "mink lashes")
                          than those used for other lash treatments. Russian Volume lashes use
                          less glue and require less frequent infill treatment.
                        </dd>
                        <dt>Classic</dt>
                        <dd>
                          Classic lashes are applied 1 to 1 to your natural lashes resulting in a
                          very natural look. Classic lashes are thicker than those used in "Russian
                          Volume" treatments to give higher definition to each individual lash.
                        </dd>
                        <dt>Hybrid</dt>
                        <dd>
                          Hybrid lashes are popular in the celebrity world. They are a combination
                          of "Classic" and "Russian Volume" lashes. Hybrid lashes can be used to create
                          a highly personalised, individual look.
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" onClick="ga('send', 'event', 'Interaction Points', 'Click', 'FAQ: Lash removal');">
                    <h7 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                      How do you remove my false lashes?</a>
                    </h7>
                  </div>
                  <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                      False lash removal takes time and care so as to preserve your own natural lashes.
                      I use a specialised lash remover which is applied to the false lashes for 5 to 10 minutes,
                      the false lashes are then gently brushed away leaving your natural lashes intact.
                        <br />  <br />
                      Many people try self removal at home with various oils, this is a lengthy process and
                      often results in loss of your own lashes in the process.
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
